body {
    font-family: system-ui, sans-serif;
}

code {
    font-size: 0.9em;
    word-break: break-all;
}

tr.clickable-row {
    cursor: pointer;
}

tr.clickable-row:hover {
    background-color: #e9ecef;
}

td.status-received{
    color: orange;
    font-weight: 600;
}

td.status-failed {
    color: red;
    font-weight: 600;
}

td.status-completed {
    color: green;
    font-weight: 600;
}

#txModalBody {
    overflow-x: auto;
}

#txModalBody ul {
    white-space: nowrap;
    padding-left: 1rem;
    margin-bottom: 0;
}

#txModalBody li {
    list-style: none;
    margin-bottom: 0.25rem;
}

#txModalBody a {
    font-family: monospace;
    font-size: 0.85em;
    display: inline-block;
    min-width: 100%;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}